.linha{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;

  font-family:'Courier New', Courier, monospace;

  background-color: #1f0c8d;
  border: none;
  color:white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}

h1{
  text-align: center;
  font-family:sans-serif;
  font-style:unset;
  font-size: 45px;
  color: rgb(127, 187, 6);
}

.App{
  margin: auto;
  max-width: 900px;
}

.botao {
   background-color: #4CAF50; 
    border:none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
}

body{
  background-color: rgb(1, 1, 17);
}

input{
  height: 22px;

  font-size: 22px;
  
}

